<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medcaptain.cloud.usermanage.mapper.FrontendResourcePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.medcaptain.cloud.usermanage.entity.FrontendResourcePermission" >
    <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="frontend_resource_id" property="frontendResourceId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    permission_id, role_id, frontend_resource_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medcaptain.cloud.usermanage.entity.FrontendResourcePermissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_frontendresourcepermission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_frontendresourcepermission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_frontendresourcepermission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.medcaptain.cloud.usermanage.entity.FrontendResourcePermissionExample" >
    delete from t_frontendresourcepermission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medcaptain.cloud.usermanage.entity.FrontendResourcePermission" >
    insert into t_frontendresourcepermission (permission_id, role_id, frontend_resource_id
      )
    values (#{permissionId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{frontendResourceId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.medcaptain.cloud.usermanage.entity.FrontendResourcePermission" >
    insert into t_frontendresourcepermission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        permission_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="frontendResourceId != null" >
        frontend_resource_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="frontendResourceId != null" >
        #{frontendResourceId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medcaptain.cloud.usermanage.entity.FrontendResourcePermissionExample" resultType="java.lang.Integer" >
    select count(*) from t_frontendresourcepermission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_frontendresourcepermission
    <set >
      <if test="record.permissionId != null" >
        permission_id = #{record.permissionId,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.frontendResourceId != null" >
        frontend_resource_id = #{record.frontendResourceId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_frontendresourcepermission
    set permission_id = #{record.permissionId,jdbcType=INTEGER},
      role_id = #{record.roleId,jdbcType=INTEGER},
      frontend_resource_id = #{record.frontendResourceId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.medcaptain.cloud.usermanage.entity.FrontendResourcePermission" >
    update t_frontendresourcepermission
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="frontendResourceId != null" >
        frontend_resource_id = #{frontendResourceId,jdbcType=INTEGER},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medcaptain.cloud.usermanage.entity.FrontendResourcePermission" >
    update t_frontendresourcepermission
    set role_id = #{roleId,jdbcType=INTEGER},
      frontend_resource_id = #{frontendResourceId,jdbcType=INTEGER}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <select id="listPermissions" resultType="com.medcaptain.cloud.usermanage.entity.FrontendResourcePermission" parameterType="java.util.Map">
    select permission_id as permissionId,role_id as roleId,permission.frontend_resource_id as frontendResourceId,resource_name as frontendResourceName,
    parent_resource_id as parentResourceID,menu_url as menuURL,resource_type as resourceType,menu_icon as menuIcon
    from t_frontendresourcepermission permission
    inner join t_frontendresource front on front.frontend_resource_id=permission.frontend_resource_id
    <if test="resourceType != null">
      AND front.resource_type = #{resourceType,jdbcType=INTEGER}
    </if>
    where  front.is_enable=1
    <if test="roleId != null">
        AND permission.role_id =#{roleId,jdbcType=INTEGER}
    </if>
    <if test="permissionId != null">
        AND permission.permission_id =#{permissionId,jdbcType=INTEGER}
    </if>
  </select>
</mapper>