<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medcaptain.parsedata.mapper.DeviceinfoMapper" >
  <resultMap id="BaseResultMap" type="com.medcaptain.parsedata.entity.mysql.Deviceinfo" >
    <id column="device_triple_id" property="deviceTripleId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="product_key" property="productKey" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_secret" property="deviceSecret" jdbcType="VARCHAR" />
    <result column="device_sn" property="deviceSN" jdbcType="VARCHAR" />
    <result column="device_version" property="deviceVersion" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="manager" property="manager" jdbcType="VARCHAR" />
    <result column="act_time" property="actTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    device_triple_id, role_id, product_key, device_name, device_secret, device_sn, device_version, organization_id, department_id, manager, act_time, user_id,
    creat_time, is_del, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_deviceinfo
    where device_triple_id = #{deviceTripleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_deviceinfo
    where device_triple_id = #{deviceTripleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.medcaptain.parsedata.entity.mysql.Deviceinfo" >
    insert into t_deviceinfo (device_triple_id, role_id, product_key,
      device_name, device_secret, device_sn, device_version, organization_id,department_id, manager, act_time,
      user_id, creat_time, is_del,
      remark)
    values (#{deviceTripleId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{productKey,jdbcType=INTEGER},
      #{deviceName,jdbcType=VARCHAR}, #{deviceSecret,jdbcType=VARCHAR}, #{deviceSN,jdbcType=VARCHAR},#{deviceVersion,jdbcType=VARCHAR}, #{organizationId,jdbcType=INTEGER},
      #{departmentId,jdbcType=INTEGER}, #{manager,jdbcType=VARCHAR},
      #{actTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{creatTime,jdbcType=TIMESTAMP},
      #{isDel,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.medcaptain.parsedata.entity.mysql.Deviceinfo" >
    insert into t_deviceinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceTripleId != null" >
        device_triple_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="productKey != null" >
        product_key,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceSecret != null" >
        device_secret,
      </if>
      <if test="deviceSN != null" >
        device_sn,
      </if>
      <if test="deviceVersion != null" >
        device_version,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="actTime != null" >
        act_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceTripleId != null" >
        #{deviceTripleId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="productKey != null" >
        #{productKey,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceSecret != null" >
        #{deviceSecret,jdbcType=VARCHAR},
      </if>
      <if test="deviceSN != null" >
        #{deviceSN,jdbcType=VARCHAR},
      </if>
      <if test="deviceVersion != null" >
        #{deviceVersion,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="actTime != null" >
        #{actTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.medcaptain.parsedata.entity.mysql.Deviceinfo" >
    update t_deviceinfo
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="productKey != null" >
        product_key = #{productKey,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceSecret != null" >
        device_secret = #{deviceSecret,jdbcType=VARCHAR},
      </if>
      <if test="deviceSN != null" >
        device_sn = #{deviceSN,jdbcType=VARCHAR},
      </if>
      <if test="deviceVersion != null" >
        device_version = #{deviceVersion,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="manager != null" >
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="actTime != null" >
        act_time = #{actTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where device_triple_id = #{deviceTripleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medcaptain.parsedata.entity.mysql.Deviceinfo" >
    update t_deviceinfo
    set role_id = #{roleId,jdbcType=INTEGER},
      product_key = #{productKey,jdbcType=INTEGER},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_secret = #{deviceSecret,jdbcType=VARCHAR},
      device_sn = #{deviceSN,jdbcType=VARCHAR},
      device_version = #{deviceVersion,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=INTEGER},
      department_id = #{organizationId,jdbcType=INTEGER},
      manager = #{manager,jdbcType=VARCHAR},
      act_time = #{actTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where device_triple_id = #{deviceTripleId,jdbcType=INTEGER}
  </update>

  <update id="deleteByProductKey" parameterType="java.lang.String" >
    update t_deviceinfo
    set is_del = '1'
    where product_key = #{productKey}
  </update>

  <select id="getProductKey" resultType="java.lang.String" parameterType="java.lang.Integer" >
    select
    product_key
    from t_deviceinfo
    where device_triple_id = #{deviceTripleId,jdbcType=INTEGER}
  </select>


  <select id="selectByProductCount" resultType="java.lang.Integer">
    select
    COUNT(1)
    from t_deviceinfo
    where product_key = #{productKey,jdbcType=VARCHAR}
    AND is_del = 0
    <if test="isEnabled != null">
      and is_enabled = #{isEnabled,jdbcType=TIMESTAMP}
    </if>
  </select>


  <select id="selectByRoleIdPage" resultMap="BaseResultMap">
    SELECT DISTINCT
    <include refid="Base_Column_List"/>
    FROM
    `t_deviceinfo`
    WHERE
    is_del = 0
    and is_enabled = 0
    <if test="organizationId != null">
    and (
      product_key IN (
          SELECT
            product_key
          FROM
            `t_productinfo`
          WHERE
            `is_enabled` = '0'
              AND `is_del` = '0'
              AND `organization_id` = #{organizationId,jdbcType=VARCHAR}
          )
      )
    </if>
    <if test="userId != null and userId != ''">
      and user_id = #{userId}
    </if>
    <if test="productKey != null and productKey != ''">
      and product_key like  CONCAT(CONCAT('%',#{productKey},'%'))
    </if>
    <if test="deviceName != null and deviceName != ''">
      and device_name like  CONCAT(CONCAT('%',#{deviceName},'%'))
    </if>
    ORDER BY creat_time DESC
    LIMIT #{page},#{perPage}
  </select>

  <select id="selectByRoleIdCount" resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM
    `t_deviceinfo`
    WHERE
    (
      product_key IN (
        SELECT
          product_key
        FROM
          `t_productinfo`
        WHERE
          `is_enabled` = '0'
          AND `is_del` = '0'
          AND `organization_id` = #{organizationId,jdbcType=VARCHAR}
      )
    )
    and is_del = 0
    and is_enabled = 0
    <if test="productKey != null and productKey != ''">
      and product_key like  CONCAT(CONCAT('%',#{productKey},'%'))
    </if>
    <if test="deviceName != null and deviceName != ''">
      and device_name like  CONCAT(CONCAT('%',#{deviceName},'%'))
    </if>
  </select>

  <select id="selectByProductKeyAndDeviceNameIsNotDel" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_deviceinfo
    where product_key = #{productKey,jdbcType=VARCHAR}
    and device_name = #{deviceName,jdbcType=VARCHAR}
  </select>

  <update id="deleteByIsDelKey" parameterType="java.lang.Integer">
    update t_deviceinfo
    set is_del = 1
    where device_triple_id = #{deviceTripleId,jdbcType=INTEGER}
  </update>
  <select id="selectBydeviceTripleId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_deviceinfo
    where device_triple_id = #{deviceTripleId,jdbcType=INTEGER}
    and is_del = 0
  </select>
  <select id="selectByProductKeyAndDeviceName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_deviceinfo
    where device_name = #{deviceName,jdbcType=VARCHAR}
    and product_key = #{productKey,jdbcType=VARCHAR}
    and is_del = 0
  </select>

  <select id="selectByProductKeyAndDel" resultType="java.lang.Integer">
    select
     COUNT( 1 )
    from t_deviceinfo
    where
      product_key = #{productKey,jdbcType=VARCHAR}
      and is_del = #{del}
  </select>

  <select id="getProductKeyAndDeviceName" resultType="java.util.Map" parameterType="java.lang.Integer" >
    select
    product_key as productKey, device_name as deviceName
    from t_deviceinfo
    where device_triple_id = #{deviceTripleId,jdbcType=INTEGER}
  </select>

  <select id="getDeviceTripleId" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    device_triple_id as deviceTripleId
    from t_deviceinfo
    where product_key = #{productKey}
    and device_name = #{deviceName}
  </select>

  <update id="updateOnlineStatus" parameterType="java.lang.Integer">
    update t_deviceinfo set is_online = #{onlineStatus} where device_triple_id = #{deviceId}
  </update>

</mapper>