<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medcaptain.productservice.dao.mybatis.DevicelocationMapper" >
  <resultMap id="BaseResultMap" type="com.medcaptain.productservice.entity.mybatis.Devicelocation" >
    <id column="devicelocation_id" property="devicelocationId" jdbcType="INTEGER" />
    <result column="product_key" property="productKey" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_triple_id" property="deviceTripleId" jdbcType="INTEGER" />
    <result column="device_ip" property="deviceIp" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="altitude" property="altitude" jdbcType="VARCHAR" />
    <result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    devicelocation_id, product_key, device_name, device_triple_id, device_ip, longitude, 
    latitude, altitude, creattime, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_devicelocation
    where devicelocation_id = #{devicelocationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_devicelocation
    where devicelocation_id = #{devicelocationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.medcaptain.productservice.entity.mybatis.Devicelocation" >
    insert into t_devicelocation (devicelocation_id, product_key, device_name, 
      device_triple_id, device_ip, longitude, 
      latitude, altitude, creattime, 
      remark)
    values (#{devicelocationId,jdbcType=INTEGER}, #{productKey,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{deviceTripleId,jdbcType=INTEGER}, #{deviceIp,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{altitude,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.medcaptain.productservice.entity.mybatis.Devicelocation" >
    insert into t_devicelocation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="devicelocationId != null" >
        devicelocation_id,
      </if>
      <if test="productKey != null" >
        product_key,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceTripleId != null" >
        device_triple_id,
      </if>
      <if test="deviceIp != null" >
        device_ip,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="altitude != null" >
        altitude,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="devicelocationId != null" >
        #{devicelocationId,jdbcType=INTEGER},
      </if>
      <if test="productKey != null" >
        #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceTripleId != null" >
        #{deviceTripleId,jdbcType=INTEGER},
      </if>
      <if test="deviceIp != null" >
        #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="altitude != null" >
        #{altitude,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.medcaptain.productservice.entity.mybatis.Devicelocation" >
    update t_devicelocation
    <set >
      <if test="productKey != null" >
        product_key = #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceTripleId != null" >
        device_triple_id = #{deviceTripleId,jdbcType=INTEGER},
      </if>
      <if test="deviceIp != null" >
        device_ip = #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="altitude != null" >
        altitude = #{altitude,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where devicelocation_id = #{devicelocationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medcaptain.productservice.entity.mybatis.Devicelocation" >
    update t_devicelocation
    set product_key = #{productKey,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_triple_id = #{deviceTripleId,jdbcType=INTEGER},
      device_ip = #{deviceIp,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      altitude = #{altitude,jdbcType=VARCHAR},
      creattime = #{creattime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where devicelocation_id = #{devicelocationId,jdbcType=INTEGER}
  </update>
</mapper>