<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medcaptain.productservice.dao.mybatis.FirmwareinfoMapper" >
  <resultMap id="BaseResultMap" type="com.medcaptain.productservice.entity.mybatis.Firmwareinfo" >
    <id column="firmware_id" property="firmwareId" jdbcType="INTEGER" />
    <result column="product_key" property="productKey" jdbcType="VARCHAR" />
    <result column="dpsit_path" property="dpsitPath" jdbcType="VARCHAR" />
    <result column="md5" property="md5" jdbcType="VARCHAR" />
    <result column="firmware_name" property="firmwareName" jdbcType="VARCHAR" />
    <result column="firmware_size" property="firmwareSize" jdbcType="INTEGER" />
    <result column="firmware_version" property="firmwareVersion" jdbcType="VARCHAR" />
    <result column="is_verified" property="isVerified" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    firmware_id, product_key, dpsit_path, md5, firmware_name, firmware_size, firmware_version, 
    is_verified, create_time, remark, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_firmwareinfo
    where firmware_id = #{firmwareId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_firmwareinfo
    where firmware_id = #{firmwareId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.medcaptain.productservice.entity.mybatis.Firmwareinfo" >
    insert into t_firmwareinfo (firmware_id, product_key, dpsit_path, 
      md5, firmware_name, firmware_size, 
      firmware_version, is_verified, create_time, 
      remark, is_del)
    values (#{firmwareId,jdbcType=INTEGER}, #{productKey,jdbcType=VARCHAR}, #{dpsitPath,jdbcType=VARCHAR}, 
      #{md5,jdbcType=VARCHAR}, #{firmwareName,jdbcType=VARCHAR}, #{firmwareSize,jdbcType=INTEGER}, 
      #{firmwareVersion,jdbcType=VARCHAR}, #{isVerified,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.medcaptain.productservice.entity.mybatis.Firmwareinfo" >
    insert into t_firmwareinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="firmwareId != null" >
        firmware_id,
      </if>
      <if test="productKey != null" >
        product_key,
      </if>
      <if test="dpsitPath != null" >
        dpsit_path,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
      <if test="firmwareName != null" >
        firmware_name,
      </if>
      <if test="firmwareSize != null" >
        firmware_size,
      </if>
      <if test="firmwareVersion != null" >
        firmware_version,
      </if>
      <if test="isVerified != null" >
        is_verified,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="firmwareId != null" >
        #{firmwareId,jdbcType=INTEGER},
      </if>
      <if test="productKey != null" >
        #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="dpsitPath != null" >
        #{dpsitPath,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="firmwareName != null" >
        #{firmwareName,jdbcType=VARCHAR},
      </if>
      <if test="firmwareSize != null" >
        #{firmwareSize,jdbcType=INTEGER},
      </if>
      <if test="firmwareVersion != null" >
        #{firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="isVerified != null" >
        #{isVerified,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.medcaptain.productservice.entity.mybatis.Firmwareinfo" >
    update t_firmwareinfo
    <set >
      <if test="productKey != null" >
        product_key = #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="dpsitPath != null" >
        dpsit_path = #{dpsitPath,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="firmwareName != null" >
        firmware_name = #{firmwareName,jdbcType=VARCHAR},
      </if>
      <if test="firmwareSize != null" >
        firmware_size = #{firmwareSize,jdbcType=INTEGER},
      </if>
      <if test="firmwareVersion != null" >
        firmware_version = #{firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="isVerified != null" >
        is_verified = #{isVerified,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where firmware_id = #{firmwareId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medcaptain.productservice.entity.mybatis.Firmwareinfo" >
    update t_firmwareinfo
    set product_key = #{productKey,jdbcType=VARCHAR},
      dpsit_path = #{dpsitPath,jdbcType=VARCHAR},
      md5 = #{md5,jdbcType=VARCHAR},
      firmware_name = #{firmwareName,jdbcType=VARCHAR},
      firmware_size = #{firmwareSize,jdbcType=INTEGER},
      firmware_version = #{firmwareVersion,jdbcType=VARCHAR},
      is_verified = #{isVerified,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER}
    where firmware_id = #{firmwareId,jdbcType=INTEGER}
  </update>
</mapper>