<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medcaptain.productservice.dao.mybatis.HospdeprelatMapper" >
  <resultMap id="BaseResultMap" type="com.medcaptain.productservice.entity.mybatis.Hospdeprelat" >
    <id column="hospi_dept_relat_id" property="hospiDeptRelatId" jdbcType="INTEGER" />
    <result column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    hospi_dept_relat_id, hospital_id, dept_id, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_hospdeprelat
    where hospi_dept_relat_id = #{hospiDeptRelatId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_hospdeprelat
    where hospi_dept_relat_id = #{hospiDeptRelatId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.medcaptain.productservice.entity.mybatis.Hospdeprelat" >
    insert into t_hospdeprelat (hospi_dept_relat_id, hospital_id, dept_id, 
      remark)
    values (#{hospiDeptRelatId,jdbcType=INTEGER}, #{hospitalId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.medcaptain.productservice.entity.mybatis.Hospdeprelat" >
    insert into t_hospdeprelat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hospiDeptRelatId != null" >
        hospi_dept_relat_id,
      </if>
      <if test="hospitalId != null" >
        hospital_id,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hospiDeptRelatId != null" >
        #{hospiDeptRelatId,jdbcType=INTEGER},
      </if>
      <if test="hospitalId != null" >
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.medcaptain.productservice.entity.mybatis.Hospdeprelat" >
    update t_hospdeprelat
    <set >
      <if test="hospitalId != null" >
        hospital_id = #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where hospi_dept_relat_id = #{hospiDeptRelatId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medcaptain.productservice.entity.mybatis.Hospdeprelat" >
    update t_hospdeprelat
    set hospital_id = #{hospitalId,jdbcType=INTEGER},
      dept_id = #{deptId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where hospi_dept_relat_id = #{hospiDeptRelatId,jdbcType=INTEGER}
  </update>
</mapper>