<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medcaptain.productservice.dao.mybatis.HospitallistMapper" >
  <resultMap id="BaseResultMap" type="com.medcaptain.productservice.entity.mybatis.Hospitallist" >
    <id column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="hospital_addr" property="hospitalAddr" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="modif_time" property="modifTime" jdbcType="TIMESTAMP" />
    <result column="is_enabled" property="isEnabled" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    hospital_id, hospital_name, user_id, remark, hospital_addr, creat_time, modif_time, 
    is_enabled, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_hospitallist
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_hospitallist
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.medcaptain.productservice.entity.mybatis.Hospitallist" >
    insert into t_hospitallist (hospital_id, hospital_name, user_id, 
      remark, hospital_addr, creat_time, 
      modif_time, is_enabled, is_del
      )
    values (#{hospitalId,jdbcType=INTEGER}, #{hospitalName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{hospitalAddr,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{modifTime,jdbcType=TIMESTAMP}, #{isEnabled,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.medcaptain.productservice.entity.mybatis.Hospitallist" >
    insert into t_hospitallist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hospitalId != null" >
        hospital_id,
      </if>
      <if test="hospitalName != null" >
        hospital_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="hospitalAddr != null" >
        hospital_addr,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="modifTime != null" >
        modif_time,
      </if>
      <if test="isEnabled != null" >
        is_enabled,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hospitalId != null" >
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="hospitalName != null" >
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="hospitalAddr != null" >
        #{hospitalAddr,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifTime != null" >
        #{modifTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.medcaptain.productservice.entity.mybatis.Hospitallist" >
    update t_hospitallist
    <set >
      <if test="hospitalName != null" >
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="hospitalAddr != null" >
        hospital_addr = #{hospitalAddr,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifTime != null" >
        modif_time = #{modifTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnabled != null" >
        is_enabled = #{isEnabled,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medcaptain.productservice.entity.mybatis.Hospitallist" >
    update t_hospitallist
    set hospital_name = #{hospitalName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      hospital_addr = #{hospitalAddr,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      modif_time = #{modifTime,jdbcType=TIMESTAMP},
      is_enabled = #{isEnabled,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER}
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </update>
</mapper>