<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medcaptain.productservice.dao.mybatis.ProductcategoryMapper" >
  <resultMap id="BaseResultMap" type="com.medcaptain.productservice.entity.mybatis.Productcategory" >
    <id column="product_cate" property="productCate" jdbcType="INTEGER" />
    <result column="product_type_desc" property="productTypeDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_cate, product_type_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_productcategory
    where product_cate = #{productCate,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_productcategory
    where product_cate = #{productCate,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.medcaptain.productservice.entity.mybatis.Productcategory" >
    insert into t_productcategory (product_cate, product_type_desc)
    values (#{productCate,jdbcType=INTEGER}, #{productDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.medcaptain.productservice.entity.mybatis.Productcategory" >
    insert into t_productcategory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productCate != null" >
        product_cate,
      </if>
      <if test="productDesc != null" >
        product_type_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productCate != null" >
        #{productCate,jdbcType=INTEGER},
      </if>
      <if test="productDesc != null" >
        #{productDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.medcaptain.productservice.entity.mybatis.Productcategory" >
    update t_productcategory
    <set >
      <if test="productDesc != null" >
        product_type_desc = #{productDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where product_cate = #{productCate,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medcaptain.productservice.entity.mybatis.Productcategory" >
    update t_productcategory
    set product_type_desc = #{productDesc,jdbcType=VARCHAR}
    where product_cate = #{productCate,jdbcType=INTEGER}
  </update>

  <select id="getAllCategory" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_productcategory
  </select>
</mapper>