<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medcaptain.pushsocketservice.dao.DevicelogMapper" >
  <resultMap id="BaseResultMap" type="com.medcaptain.pushsocketservice.entity.Devicelog" >
    <id column="device_log_id" property="deviceLogId" jdbcType="INTEGER" />
    <result column="product_key" property="productKey" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_triple_id" property="deviceTripleId" jdbcType="INTEGER" />
    <result column="device_ip" property="deviceIp" jdbcType="VARCHAR" />
    <result column="log_type" property="logType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="topic" property="topic" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.medcaptain.pushsocketservice.entity.Devicelog" extends="BaseResultMap" >
    <result column="log_content" property="logContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    device_log_id, product_key, device_name, device_triple_id, device_ip, log_type, create_time, 
    topic, desc
  </sql>
  <sql id="Blob_Column_List" >
    log_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_devicelog
    where device_log_id = #{deviceLogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_devicelog
    where device_log_id = #{deviceLogId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.medcaptain.pushsocketservice.entity.Devicelog" >
    insert into t_devicelog (device_log_id, product_key, device_name, 
      device_triple_id, device_ip, log_type, 
      create_time, topic, desc, 
      log_content)
    values (#{deviceLogId,jdbcType=INTEGER}, #{productKey,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{deviceTripleId,jdbcType=INTEGER}, #{deviceIp,jdbcType=VARCHAR}, #{logType,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{topic,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{logContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.medcaptain.pushsocketservice.entity.Devicelog" >
    insert into t_devicelog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceLogId != null" >
        device_log_id,
      </if>
      <if test="productKey != null" >
        product_key,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceTripleId != null" >
        device_triple_id,
      </if>
      <if test="deviceIp != null" >
        device_ip,
      </if>
      <if test="logType != null" >
        log_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="topic != null" >
        topic,
      </if>
      <if test="desc != null" >
        desc,
      </if>
      <if test="logContent != null" >
        log_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceLogId != null" >
        #{deviceLogId,jdbcType=INTEGER},
      </if>
      <if test="productKey != null" >
        #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceTripleId != null" >
        #{deviceTripleId,jdbcType=INTEGER},
      </if>
      <if test="deviceIp != null" >
        #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="logType != null" >
        #{logType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="topic != null" >
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="logContent != null" >
        #{logContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.medcaptain.pushsocketservice.entity.Devicelog" >
    update t_devicelog
    <set >
      <if test="productKey != null" >
        product_key = #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceTripleId != null" >
        device_triple_id = #{deviceTripleId,jdbcType=INTEGER},
      </if>
      <if test="deviceIp != null" >
        device_ip = #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="logType != null" >
        log_type = #{logType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="topic != null" >
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="logContent != null" >
        log_content = #{logContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where device_log_id = #{deviceLogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.medcaptain.pushsocketservice.entity.Devicelog" >
    update t_devicelog
    set product_key = #{productKey,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_triple_id = #{deviceTripleId,jdbcType=INTEGER},
      device_ip = #{deviceIp,jdbcType=VARCHAR},
      log_type = #{logType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      topic = #{topic,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      log_content = #{logContent,jdbcType=LONGVARCHAR}
    where device_log_id = #{deviceLogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medcaptain.pushsocketservice.entity.Devicelog" >
    update t_devicelog
    set product_key = #{productKey,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_triple_id = #{deviceTripleId,jdbcType=INTEGER},
      device_ip = #{deviceIp,jdbcType=VARCHAR},
      log_type = #{logType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      topic = #{topic,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR}
    where device_log_id = #{deviceLogId,jdbcType=INTEGER}
  </update>
</mapper>