% Template Path: rabbitmq/templates/rabbitmq.config
[
 {kernel,[
  {inet_dist_listen_min, 41055},
  {inet_dist_listen_max, 41055},
  {inet_default_connect_options, [{nodelay,true}]} ]},
 {rabbit,[
  {cluster_partition_handling, autoheal},
  {tcp_listen_options, [
   binary,
   {packet, raw},
   {reuseaddr, true},
   {backlog, 4096},
   {nodelay, true},
   {exit_on_close, false},
   {keepalive, true}
  ]}
 ]},
 {rabbitmq_management,[
  {http_log_dir, "/tmp/rabbit-mgmt"},
  {rates_mode,none}
 ]}
].
% EOF
